{% load static %}
{% load i18n %}
<head>
    <title>{% translate "Регистрация" %}</title>
</head>
{% include 'base.html' %}
<body class="Site">
<div class="login-form-container">
    <form class="registration-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="login-form-table">
            <thead>
            <tr>
                <th colspan="2">{% translate "Регистрация" %}</th>
            </tr>
            </thead>
            {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                    <tr><td class="form-error" colspan="2">{{ error|escape }}</td></tr>
                {% endfor %}
            {% endif %}
            <tr>
                <td>{{ field.label_tag }}</td>
                <td>{{ field }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="2" class="login-form-button"><button class="btn btn_primary" type="submit">{% translate "Зарегистрироваться" %}</button></td>
            </tr>
        </table>
    </form>
</div>
</body>
