{% load static %}
{% include 'base.html' with title="Compare" %}
<body class="Site">
  {% include 'header.html' %}
  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">Сравнение товаров
          </h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="/static">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>Сравнение товаров</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section">
      <div class="wrap">
        <article class="Article">
          <p>Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Идейные соображения высшего порядка, а также консультация с широким активом требуют определения и уточнения соответствующий условий активизации.
          </p>
        </article>




          <div>
              {% for product in compare_list %}
              {{ product.id }}
              {% endfor %}
          {{ attributes }}
          </div>







        <div class="Compare">
          <div class="Compare-header">
            <label class="toggle Compare-checkDifferent">
              <input type="checkbox" name="differentFeature" value="true" checked="checked"/><span class="toggle-box"></span><span class="toggle-text">Только различающиеся характеристики</span>
            </label>
          </div>
          <div class="Compare-row">
            <div class="Compare-title Compare-title_blank">
            </div>
            <div class="Compare-products">
              <div class="Compare-product">
                <div class="Compare-nameProduct Compare-nameProduct_main">Ноутбук SE40302
                </div>
                <div class="Compare-feature"><img class="Compare-pict" src="{% static 'img/content/home/card.jpg' %}" alt="card.jpg"/>
                </div>
              </div>
              <div class="Compare-product">
                <div class="Compare-nameProduct Compare-nameProduct_main">Планшет Windows A848sls
                </div>
                <div class="Compare-feature"><img class="Compare-pict" src="{% static 'img/content/sale/product.png' %}" alt="product.png"/>
                </div>
              </div>
              <div class="Compare-product">
                <div class="Compare-nameProduct Compare-nameProduct_main">Планшет Windows A848sls
                </div>
                <div class="Compare-feature"><img class="Compare-pict" src="{% static 'img/content/sale/product.png' %}" alt="product.png"/>
                </div>
              </div>
              <div class="Compare-product">
                <div class="Compare-nameProduct Compare-nameProduct_main">Планшет Windows A848sls
                </div>
                <div class="Compare-feature"><img class="Compare-pict" src="{% static 'img/content/sale/product.png' %}" alt="product.png"/>
                </div>
              </div>
            </div>
          </div>
          <div class="Compare-row">
            <div class="Compare-title Compare-title_blank">
            </div>
            <div class="Compare-products">
              <div class="Compare-product">
                <div class="Compare-nameProduct">Ноутбук SE40302
                </div>
                <div class="Compare-feature"><a class="Compare-btn" href="#"><img src="{% static 'img/icons/card/cart.svg' %}" alt="cart.svg"/></a><a class="Compare-btn" href="#"><img src="{%  static 'img/icons/card/delete.svg' %}" alt="delete.svg"/></a>
                </div>
              </div>
              <div class="Compare-product">
                <div class="Compare-nameProduct">Планшет Windows A848sls
                </div>
                <div class="Compare-feature"><a class="Compare-btn" href="#"><img src="{% static 'img/icons/card/cart.svg' %}" alt="cart.svg"/></a><a class="Compare-btn" href="#"><img src="{%  static 'img/icons/card/delete.svg' %}" alt="delete.svg"/></a>
                </div>
              </div>
              <div class="Compare-product">
                <div class="Compare-nameProduct">Планшет Windows A848sls
                </div>
                <div class="Compare-feature"><a class="Compare-btn" href="#"><img src="{% static 'img/icons/card/cart.svg' %}" alt="cart.svg"/></a><a class="Compare-btn" href="#"><img src="{%  static 'img/icons/card/delete.svg' %}" alt="delete.svg"/></a>
                </div>
              </div>
              <div class="Compare-product">
                <div class="Compare-nameProduct">Планшет Windows A848sls
                </div>
                <div class="Compare-feature"><a class="Compare-btn" href="#"><img src="{% static 'img/icons/card/cart.svg' %}" alt="cart.svg"/></a><a class="Compare-btn" href="#"><img src="{%  static 'img/icons/card/delete.svg' %}" alt="delete.svg"/></a>
                </div>
              </div>
            </div>
          </div>
          <div class="Compare-row">
            <div class="Compare-title">Рейтинг
            </div>
            <div class="Compare-products">
              <div class="Compare-product">
                <div class="Compare-nameProduct">Ноутбук SE40302
                </div>
                <div class="Compare-feature">
                  <div class="Rating">
                    <div class="Rating-stars"><span class="Rating-star Rating-star_view">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span><span class="Rating-star Rating-star_view">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span><span class="Rating-star Rating-star_view">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span><span class="Rating-star Rating-star_view">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span><span class="Rating-star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span>
                    </div>
                    <div class="Rating-title">
                    </div>
                  </div>
                </div>
              </div>
              <div class="Compare-product">
                <div class="Compare-nameProduct">Планшет Windows A848sls
                </div>
                <div class="Compare-feature">
                  <div class="Rating">
                    <div class="Rating-stars"><span class="Rating-star Rating-star_view">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span><span class="Rating-star Rating-star_view">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span><span class="Rating-star Rating-star_view">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span><span class="Rating-star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span><span class="Rating-star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span>
                    </div>
                    <div class="Rating-title">
                    </div>
                  </div>
                </div>
              </div>
              <div class="Compare-product">
                <div class="Compare-nameProduct">Планшет Windows A848sls
                </div>
                <div class="Compare-feature">
                  <div class="Rating">
                    <div class="Rating-stars"><span class="Rating-star Rating-star_view">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span><span class="Rating-star Rating-star_view">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span><span class="Rating-star Rating-star_view">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span><span class="Rating-star Rating-star_view">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span><span class="Rating-star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span>
                    </div>
                    <div class="Rating-title">
                    </div>
                  </div>
                </div>
              </div>
              <div class="Compare-product">
                <div class="Compare-nameProduct">Планшет Windows A848sls
                </div>
                <div class="Compare-feature">
                  <div class="Rating">
                    <div class="Rating-stars"><span class="Rating-star Rating-star_view">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span><span class="Rating-star Rating-star_view">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span><span class="Rating-star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span><span class="Rating-star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span><span class="Rating-star">
                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                          <g>
                            <g>
                              <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                            </g>
                          </g>
                        </svg></span>
                    </div>
                    <div class="Rating-title">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="Compare-row">
            <div class="Compare-title">Частота процессора
            </div>
            <div class="Compare-products">
              <div class="Compare-product">
                <div class="Compare-nameProduct">Ноутбук SE40302
                </div>
                <div class="Compare-feature">2.2 ГГц
                </div>
              </div>
              <div class="Compare-product">
                <div class="Compare-nameProduct">Планшет Windows A848sls
                </div>
                <div class="Compare-feature">1.2 ГГц
                </div>
              </div>
              <div class="Compare-product">
                <div class="Compare-nameProduct">Планшет Windows A848sls
                </div>
                <div class="Compare-feature">1.2 ГГц
                </div>
              </div>
              <div class="Compare-product">
                <div class="Compare-nameProduct">Планшет Windows A848sls
                </div>
                <div class="Compare-feature">1.2 ГГц
                </div>
              </div>
            </div>
          </div>
          <div class="Compare-row Compare-row_hide">
            <div class="Compare-title">Время зарядки от сети
            </div>
            <div class="Compare-products">
              <div class="Compare-product">
                <div class="Compare-nameProduct">Ноутбук SE40302
                </div>
                <div class="Compare-feature">3 часа
                </div>
              </div>
              <div class="Compare-product">
                <div class="Compare-nameProduct">Планшет Windows A848sls
                </div>
                <div class="Compare-feature">3 часа
                </div>
              </div>
              <div class="Compare-product">
                <div class="Compare-nameProduct">Планшет Windows A848sls
                </div>
                <div class="Compare-feature">3 часа
                </div>
              </div>
              <div class="Compare-product">
                <div class="Compare-nameProduct">Планшет Windows A848sls
                </div>
                <div class="Compare-feature">3 часа
                </div>
              </div>
            </div>
          </div>
          <div class="Compare-row">
            <div class="Compare-title">Время работы от батареи
            </div>
            <div class="Compare-products">
              <div class="Compare-product">
                <div class="Compare-nameProduct">Ноутбук SE40302
                </div>
                <div class="Compare-feature">3 часа
                </div>
              </div>
              <div class="Compare-product">
                <div class="Compare-nameProduct">Планшет Windows A848sls
                </div>
                <div class="Compare-feature">8 часов
                </div>
              </div>
              <div class="Compare-product">
                <div class="Compare-nameProduct">Планшет Windows A848sls
                </div>
                <div class="Compare-feature">8 часов
                </div>
              </div>
              <div class="Compare-product">
                <div class="Compare-nameProduct">Планшет Windows A848sls
                </div>
                <div class="Compare-feature">8 часов
                </div>
              </div>
            </div>
          </div>
          <div class="Compare-row">
            <div class="Compare-title">Разъемы usb
            </div>
            <div class="Compare-products">
              <div class="Compare-product">
                <div class="Compare-nameProduct">Ноутбук SE40302
                </div>
                <div class="Compare-feature">3
                </div>
              </div>
              <div class="Compare-product">
                <div class="Compare-nameProduct">Планшет Windows A848sls
                </div>
                <div class="Compare-feature">1
                </div>
              </div>
              <div class="Compare-product">
                <div class="Compare-nameProduct">Планшет Windows A848sls
                </div>
                <div class="Compare-feature">1
                </div>
              </div>
              <div class="Compare-product">
                <div class="Compare-nameProduct">Планшет Windows A848sls
                </div>
                <div class="Compare-feature">1
                </div>
              </div>
            </div>
          </div>
          <div class="Compare-row">
            <div class="Compare-title">Цена
            </div>
            <div class="Compare-products">
              <div class="Compare-product">
                <div class="Compare-nameProduct">Ноутбук SE40302
                </div>
                <div class="Compare-feature">
                  <strong class="Compare-priceOld">$115.00
                  </strong>
                  <strong class="Compare-price">$85.00
                  </strong>
                </div>
              </div>
              <div class="Compare-product">
                <div class="Compare-nameProduct">Планшет Windows A848sls
                </div>
                <div class="Compare-feature">
                  <strong class="Compare-priceOld">$85.00
                  </strong>
                  <strong class="Compare-price">$50.00
                  </strong>
                </div>
              </div>
              <div class="Compare-product">
                <div class="Compare-nameProduct">Планшет Windows A848sls
                </div>
                <div class="Compare-feature">
                  <strong class="Compare-priceOld">$85.00
                  </strong>
                  <strong class="Compare-price">$50.00
                  </strong>
                </div>
              </div>
              <div class="Compare-product">
                <div class="Compare-nameProduct">Планшет Windows A848sls
                </div>
                <div class="Compare-feature">
                  <strong class="Compare-priceOld">$85.00
                  </strong>
                  <strong class="Compare-price">$50.00
                  </strong>
                </div>
              </div>
            </div>
          </div>
        </div>
          <a href="{% url 'compare_clear' %}">Очистить лист сравнений</a>
      </div>
    </div>
  </div>
  {% include 'footer.html' %}
  <script src="{% static 'plg/jQuery/jquery-3.5.0.slim.min.js' %}"></script>
  <script src="{% static 'plg/form/jquery.form.js' %}"></script>
  <script src="{% static 'plg/form/jquery.maskedinput.min.js' %}"></script>
  <script src="{% static 'plg/range/ion.rangeSlider.min.js' %}"></script>
  <script src="{% static 'plg/Slider/slick.min.js' %}"></script>
  <script src="{% static 'js/scripts.js' %}"></script>
</body>