{% load static %}
{% load i18n %}

<head>
  <title>Megano</title>
    {% include 'base.html' %}
</head>
<body class="Site">
  {% include 'header.html' %}
  {% include 'slider.html' %}
  <div class="Middle">
    <div class="Section">
      <div class="wrap">
        <div class="BannersHome">

            {% for category in popular_category %}

                <a class="BannersHomeBlock" href="{% url 'category-catalog-page' category.slug %}">
                    <div class="BannersHomeBlock-row">
                      <div class="BannersHomeBlock-block">
                        <strong class="BannersHomeBlock-title">{{ category.name }}</strong>
                        <div class="BannersHomeBlock-content">from&#32;<span class="BannersHomeBlock-price">$199.00</span>
                        </div>
                      </div>
                      <div class="BannersHomeBlock-block">
                        <div class="BannersHomeBlock-img"><img src="{% static 'img/content/home/videoca.png' %}" alt="videoca.png"/>
                        </div>
                      </div>
                    </div>
                </a>

            {% endfor %}


        </div>
      </div>
    </div>
    <div class="Section Section_column Section_columnLeft Section_columnDesktop">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection Section-columnSection_mark">

            <header class="Section-columnHeader">
              <strong class="Section-columnTitle">{% trans 'предложение дня' %}</strong>
            </header>

            {% if daily_offer %}
                <div class="Card">
                    <a class="Card-picture" href="{{ daily_offer.get_absolute_url }}">
                        <img src=
                         {% if daily_offer.productimage_set.all %}
                             "{{ daily_offer.productimage_set.all.0.image.url }}"
                         {% else %}
                             "{% static 'img/no_image.png' %}"
                         {% endif %}
                        alt="{{ daily_offer.name|truncatechars:30 }}">
                    </a>
                  <div class="Card-content">
                      <strong class="Card-title">
                        <a href="{{ daily_offer.get_absolute_url }}">{{ daily_offer.name }}</a>
                      </strong>
                      <div class="Card-description">
                        <div class="Card-cost">
    {#                      <span class="Card-priceOld">$115.00</span>#}
                            <span class="Card-price">от {{ daily_offer.min_price|floatformat:"0g" }} руб.</span>
                        </div>
                      <div class="Card-category">
                          <p>{% trans 'Продано' %}: {{ daily_offer.order_count }}<br>
                             {% trans 'Отзывов' %}: {{ daily_offer.review_count }}</p>
                             {{ daily_offer.category }}
                      </div>
                  </div>
                    <div class="CountDown" data-date="{{ daily_offer.expired }}">
                      <div class="CountDown-block">
                        <div class="CountDown-wrap">
                          <div class="CountDown-days">
                          </div><span class="CountDown-label">{% trans "дней" %}</span>
                        </div>
                      </div>
                      <div class="CountDown-block">
                        <div class="CountDown-wrap">
                          <div class="CountDown-hours">
                          </div><span class="CountDown-label">{% trans "часов" %}</span>
                        </div>
                      </div>
                      <div class="CountDown-block">
                        <div class="CountDown-wrap">
                          <div class="CountDown-minutes">
                          </div><span class="CountDown-label">{% trans "мин" %}</span>
                        </div>
                      </div>
                      <div class="CountDown-block">
                        <div class="CountDown-wrap">
                          <div class="CountDown-secs">
                          </div><span class="CountDown-label">{% trans "сек" %}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
          {% endif %}

          </div>
        </div>
        <div class="Section-content">
          <header class="Section-header">
            <h2 class="Section-title">{% trans 'Популярные товары' %}</h2>
          </header>

          {# топ товары #}
          <div class="Cards">
            {% for product in top_product %}
                {# карточки продуктов #}

                {% cycle '' '' '' '' 'hide_md' 'hide_md' 'hide_md hide_1450' 'hide_md hide_1450' as add_class silent %}
                {% include 'product/inc/_product_card.html' with card_class=add_class %}

            {% empty %}
                <div>
                    {% trans "Продуктов не найдено" %}.
                </div>
            {% endfor %}
          </div>


        </div>
      </div>
    </div>


    <div class="Section Section_dark">
      <div class="wrap">
        <div class="Section-content">
          <div class="Slider Slider_carousel">
            <header class="Section-header">
              <h2 class="Section-title">{% trans 'Акции!!!' %}</h2>
              <div class="Section-control">
                <div class="Slider-navigate">
                </div>
              </div>
            </header>

              <div class="Slider-box Cards Cards_hz">

                {% for product in hot_product %}
                  <div class="Slider-item">
                    <div class="Slider-content">
                        {# карточки продуктов #}
                        {% include 'product/inc/_product_card.html' %}
                    </div>
                  </div>
                {% empty %}
                    <div>{% trans "Продуктов не найдено" %}.</div>
                {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="Section Section_column Section_columnRight">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{% static 'img/icons/advantages/shipping.svg' %}" alt="shipping.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">Shipping & Returns
                </strong>
                <p class="media-text">World wide shipping
                </p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{% static 'img/icons/advantages/moneyBack.svg' %}" alt="moneyBack.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">Money Back
                </strong>
                <p class="media-text">Guaranted payments
                </p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{% static 'img/icons/advantages/support.svg' %}" alt="support.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">Support Policy
                </strong>
                <p class="media-text">Fast support team
                </p>
              </div>
            </div>
          </div>
          <div class="Section-columnSection Section-columnSection_mark">
            <div class="media media_advantage">
              <div class="media-image"><img src="{% static 'img/icons/advantages/quality.svg' %}" alt="quality.svg"/>
              </div>
              <div class="media-content">
                <strong class="media-title">Quality Guarantee
                </strong>
                <p class="media-text">Best guaranted items
                </p>
              </div>
            </div>
          </div>
        </div>


        <div class="Section-content">
          <div class="Slider Slider_carousel">
            <header class="Section-header Section-header_close">
              <h2 class="Section-title">{% trans 'Ограниченное предложение' %}</h2>
              <div class="Section-control">
                <div class="Slider-navigate">
                </div>
              </div>
            </header>
            <div class="Slider-box Cards">

                {% for product in limited_product %}
                  <div class="Slider-item">
                    <div class="Slider-content">
                        {# карточки продуктов #}
                        {% include 'product/inc/_product_card.html' %}
                    </div>
                  </div>
                {% empty %}
                    <div>{% trans "Продуктов не найдено" %}.</div>
                {% endfor %}

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'footer.html' %}
  <script src="{% static 'plg/jQuery/jquery-3.5.0.slim.min.js' %}"></script>
  <script src="{% static 'plg/form/jquery.form.js' %}"></script>
  <script src="{% static 'plg/form/jquery.maskedinput.min.j' %}s"></script>
  <script src="{% static 'plg/range/ion.rangeSlider.min.js' %}"></script>
  <script src="{% static 'plg/Slider/slick.min.js' %}"></script>
  <script src="{% static 'js/scripts.js' %}"></script>
</body>