<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {% load static %}
    <!DOCTYPE html>
    <meta name="description" content="Описание страницы">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <link href="{% static 'favicon.ico' %}" rel="shortcut icon">
    <link rel="preload" href="{% static 'fonts/Roboto/Roboto-Regular.woff' %}" as="font">
    <link rel="preload" href="{% static 'fonts/Roboto/Roboto-Italic.woff' %}" as="font">
    <link rel="preload" href="{% static 'fonts/Roboto/Roboto-Bold.woff' %}" as="font">
    <link rel="preload" href="{% static 'fonts/Roboto/Roboto-Bold_Italic.woff' %}" as="font">
    <link rel="preload" href="{% static 'fonts/Roboto/Roboto-Light.woff' %}" as="font">
    <link rel="preload" href="{% static 'fonts/Roboto/Roboto-Light_Italic.woff' %}" as="font">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/basic.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/extra.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" type="text/css">
    <script src="{% static 'plg/CountDown/countdown.js' %}"></script>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
</body>
