{% load static %}
{% load get_cart_len get_cart_price get_cart_len get_cart_price get_compare_len from cart %}
{% load i18n %}

<header class="Header">
    <div class="ControlPanel">
      <div class="wrap">
        <div class="row ControlPanel-row">

          <div class="row-block">
            <div class="row ControlPanel-rowSplit">
              <div class="row-block"><a class="ControlPanel-title" href="#">{%  trans "Доставка" %}</a>
              </div>
              <div class="row-block hide_700"><span class="ControlPanel-title">{% trans "Мы здесь" %}</span>
                <ul class="menu menu_img menu_smallImg ControlPanel-menu">
                  <li class="menu-item"><a class="menu-link" href="https://facebook.com/megano"><img src="{% static 'img/icons/socialHeader/fb.svg' %}" alt="fb.svg"/></a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="https://twitter.com/megano"><img src="{% static 'img/icons/socialHeader/tw.svg' %}" alt="tw.svg"/></a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="https://linkedin.com/megano"><img src="{% static 'img/icons/socialHeader/in.svg' %}" alt="in.svg"/></a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="https://pinterest.com/megano"><img src="{% static 'img/icons/socialHeader/pt.svg' %}" alt="pt.svg"/></a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="mailto:info@megano.com"><img src="{% static 'img/icons/socialHeader/mail.svg' %}" alt="mail.svg"/></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row-block header_language_menu">
            <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <select class="ControlPanel-title" name="language">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                            {{ language.name_local }} ({{ language.code }})
                        </option>
                    {% endfor %}
                </select>
                <input type="submit" value="->">
            </form>
          </div>

          <nav class="row-block">
            <div class="row ControlPanel-rowSplit">
              {% if request.user.is_authenticated %}
                <div class="row-block"><a class="ControlPanel-title" href="{% url 'account' %}">{% trans "добро пожаловать" %}, {{ request.user.email }}</a></div>
                <div class="row-block"><a class="ControlPanel-title" href="{% url 'logout' %}?next={{ request.path }}">{% trans "выход" %}</a></div>
              {% else %}
                <div class="row-block"><a class="ControlPanel-title" href="{% url 'login-page' %}?next={{ request.path }}">{% trans "вход/регистрация" %}</a></div>
              {% endif %}
            </div>
          </nav>

        </div>
      </div>

    </div>
    <div class="wrap">
      <div class="row Header-rowMain">
        <div class="row-block Header-logo"><a class="logo" href="/"><img class="logo-image" src="{% static 'img/logo.png' %}" alt="logo.png"/></a>
        </div>
        <nav class="row-block row-block_right Header-menu">
          <div class="menuModal" id="navigate">
            <ul class="menu menu_main">
              <li class="menu-item"><a class="menu-link" href="/">{% trans "главная" %}</a></li>
              <li class="menu-item"><span class="menu-label menu-label_danger">New</span><a class="menu-link" href="/shop">{% trans "магазины" %}</a></li>
              <li class="menu-item"><a class="menu-link" href="{% url 'catalog-page' %}">{% trans "каталог" %}</a></li>
              <li class="menu-item"><span class="menu-label menu-label_success">Hot</span><a class="menu-link" href="/promotion">{% trans "акции" %}</a></li>
              {% if request.user.is_authenticated %}
                  <li class="menu-item"><a class="menu-link" href="{% url 'account' %}">{% trans "профиль" %}</a></li>
              {% endif %}
            </ul>
          </div>
        </nav>
        <div class="row-block">
          <div class="CartBlock">
              <a class="CartBlock-block" href="/product/compare">
                  <img class="CartBlock-img" src="{% static 'img/icons/exchange.svg' %}" alt="exchange.svg"/>
                  <span class="CartBlock-amount">{% get_compare_len request %}</span>
              </a>
              <a class="CartBlock-block" href="/order/cart">
                  <img class="CartBlock-img" src="{% static 'img/icons/cart.svg' %}" alt="cart.svg"/>
                  <span class="CartBlock-amount">{% get_cart_len request %}</span>
              </a>
            <div class="CartBlock-block"><span class="CartBlock-price">{% get_cart_price request %} руб.</span>
            </div>
          </div>
        </div>
        <div class="row-block Header-trigger"><a class="menuTrigger" href="#navigate">
            <div class="menuTrigger-content">{% trans "Показать навигацию" %}
            </div><span></span><span></span><span></span></a>
        </div>
      </div>
    </div>
    <div class="Header-searchWrap">
      <div class="wrap">
        {% include 'inc/_product_category.html' %}
        <div class="Header-searchLink"><img src="{% static 'img/icons/search.svg' %}" alt="search.svg"/>
        </div>
        <div class="Header-search">
          <div class="search">
            <form class="form form_search" action="#" method="post">
              <input class="search-input" id="query" name="query" type="text" placeholder="{% trans "Введите текст для поиска..." %}"/>
              <button class="search-button" type="submit" name="search" id="search"><img src="{% static 'img/icons/search.svg' %}" alt="search.svg"/>{% trans "поиск" %}
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

</header>
