{% load static %}
{% load get_cart_len get_cart_price from cart %}
<header class="Header">
    <div class="ControlPanel">
      <div class="wrap">
        <div class="row ControlPanel-row">
          <div class="row-block">
            <div class="row ControlPanel-rowSplit">
              <div class="row-block"><a class="ControlPanel-title" href="#">Free Delivery</a>
              </div>
              <div class="row-block hide_700"><span class="ControlPanel-title">Follow Us</span>
                <ul class="menu menu_img menu_smallImg ControlPanel-menu">
                  <li class="menu-item"><a class="menu-link" href="https://facebook.com/megano"><img src="{% static 'img/icons/socialHeader/fb.svg' %}" alt="fb.svg"/></a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="https://twitter.com/megano"><img src="{% static 'img/icons/socialHeader/tw.svg' %}" alt="tw.svg"/></a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="https://linkedin.com/megano"><img src="{% static 'img/icons/socialHeader/in.svg' %}" alt="in.svg"/></a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="https://pinterest.com/megano"><img src="{% static 'img/icons/socialHeader/pt.svg' %}" alt="pt.svg"/></a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="mailto:info@megano.com"><img src="{% static 'img/icons/socialHeader/mail.svg' %}" alt="mail.svg"/></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <nav class="row-block">
            <div class="row ControlPanel-rowSplit">
              {% if request.user.is_authenticated %}
                <div class="row-block"><a class="ControlPanel-title" href="/user/account">Добро пожаловать, {{ request.user.email }}</a>
              {% else %}
                <div class="row-block"><a class="ControlPanel-title" href="/login">Login / Register</a>
              {% endif %}
            </div>
          </nav>
        </div>
      </div>

    </div>
    <div class="wrap">
      <div class="row Header-rowMain">
        <div class="row-block Header-logo"><a class="logo" href="/"><img class="logo-image" src="{% static 'img/logo.png' %}" alt="logo.png"/></a>
        </div>
        <nav class="row-block row-block_right Header-menu">
          <div class="menuModal" id="navigate">
            <ul class="menu menu_main">
              <li class="menu-item"><a class="menu-link" href="/">Home</a></li>
              <li class="menu-item"><span class="menu-label menu-label_danger">New</span><a class="menu-link" href="/shop">Shop</a></li>
              <li class="menu-item"><a class="menu-link" href="{% url 'catalog-page' %}">Catalog</a></li>
              <li class="menu-item"><span class="menu-label menu-label_success">Hot</span><a class="menu-link" href="/promotion">Promotion</a></li>
              {% if request.user.is_authenticated %}
                  <li class="menu-item"><a class="menu-link" href="/user/account">Profile</a></li>
              {% endif %}
            </ul>
          </div>
        </nav>
        <div class="row-block">
          <div class="CartBlock"><a class="CartBlock-block" href="/product/compare"><img class="CartBlock-img" src="{% static 'img/icons/exchange.svg' %}" alt="exchange.svg"/><span class="CartBlock-amount">4</span></a><a class="CartBlock-block" href="/order/cart"><img class="CartBlock-img" src="{% static 'img/icons/cart.svg' %}" alt="cart.svg"/><span class="CartBlock-amount">{% get_cart_len request %}</span></a>
            <div class="CartBlock-block"><span class="CartBlock-price">{% get_cart_price request %}$</span>
            </div>
          </div>
        </div>
        <div class="row-block Header-trigger"><a class="menuTrigger" href="#navigate">
            <div class="menuTrigger-content">Показать навигацию
            </div><span></span><span></span><span></span></a>
        </div>
      </div>
    </div>
    <div class="Header-searchWrap">
      <div class="wrap">
        {% include 'inc/_product_category.html' %}
        <div class="Header-searchLink"><img src="{% static 'img/icons/search.svg' %}" alt="search.svg"/>
        </div>
        <div class="Header-search">
          <div class="search">
            <form class="form form_search" action="#" method="post">
              <input class="search-input" id="query" name="query" type="text" placeholder="What are you looking for ..."/>
              <button class="search-button" type="submit" name="search" id="search"><img src="{% static 'img/icons/search.svg' %}" alt="search.svg"/>Search
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

</header>
